Heart Disease in Cleveland
=====
A Classification Analysis 
----

Dataset source: https://archive.ics.uci.edu/ml/datasets/Heart+Disease

Relivent Papers: 

http://rexa.info/paper/b884ce2f4aff7ed95ce7bfa7adabaef46b88c60c

http://rexa.info/paper/0519d1408b992b21964af4bfe97675987c0caefc

http://rexa.info/paper/faecfadbd4a49f6705e0d3904d6770171b05041f

Introduction
----
ksdgfjawfh

In [8]:
library(tidyverse)
library(tidymodels)
library(repr) 
library(gridExtra)
library(readxl)
set.seed(2020)

Step 1: Read in the Data
----

In [20]:
Cl_heart_data <- read.table("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data", sep = ",",
                 col.names = c("age", "sex", "cp", "trestbps", "chol", "fbs",  "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
head(Cl_heart_data)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca  thal num
1 63  1   1  145      233  1   2       150     0     2.3     3     0.0 6.0  0
2 67  1   4  160      286  0   2       108     1     1.5     2     3.0 3.0  2
3 67  1   4  120      229  0   2       129     1     2.6     2     2.0 7.0  1
4 37  1   3  130      250  0   0       187     0     3.5     3     0.0 3.0  0
5 41  0   2  130      204  0   2       172     0     1.4     1     0.0 3.0  0
6 56  1   2  120      236  0   0       178     0     0.8     1     0.0 3.0  0

Step 2: Clean and Wrangle data into tidy format 
-----
(choose parameters that we will use in our model)

**Class that we are predicting:**
diagnosis (num)

**Parameters that we will use in training our model:**

Sex: 

Age: 

Resting blood pressure (trestbps): 

Cholesterol Level (chol): 

Fasting blood pressure (fbs): This is defined as a risk facotr for heart disease

ST depression (oldpeak):this is a risk factor

Number of major vessles coloured by flouroscopy (ca): Having blocked off vessles is a menas of diagnosis for heart disease so is a very strong indicator. 

**Parameters that we will not use in training our model** 

Chest pain type (cp): This can be caused by multiple different extranous variables (such as other conditions that are not related to heart disease). 

Resting ECG data (Restecg): Tells you if you have had a heart attack in the past or if you are at risk for one in the future. 

Excersize enduced heart pain (exang): we dont want to many binary predictors

Maximum heart rate achieved (thalch): more an indicator of fitness? (cite later) 

Slope of peak excersize ST segment (slope): 

(thal): not enough info on what it is so not useful

In [23]:
#select for columns 
cut_heart_data <- Cl_heart_data |>
    select("age", "sex", "trestbps", "chol", "fbs", "thalach", "oldpeak", "ca", "num")
head(cut_heart_data)

#mutate columns to factor data type
clean_heart_data <- cut_heart_data |>
    mutate(ca = as.numeric(ca))
head(clean_heart_data)

  age sex trestbps chol fbs thalach oldpeak ca  num
1 63  1   145      233  1   150     2.3     0.0 0
2 67  1   160      286  0   108     1.5     3.0 2
3 67  1   120      229  0   129     2.6     2.0 1
4 37  1   130      250  0   187     3.5     0.0 0
5 41  0   130      204  0   172     1.4     0.0 0
6 56  1   120      236  0   178     0.8     0.0 0

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

  age sex trestbps chol fbs thalach oldpeak ca num
1 63  1   145      233  1   150     2.3     0  0
2 67  1   160      286  0   108     1.5     3  2
3 67  1   120      229  0   129     2.6     2  1
4 37  1   130      250  0   187     3.5     0  0
5 41  0   130      204  0   172     1.4     0  0
6 56  1   120      236  0   178     0.8     0  0